.App {
  height: 100vh;
  width: 100vw;
  
}

body{
  margin: 0;
  padding:0;
}


.Sidebar{
  height: 100%;
  width: 200px ;
  background-color: rgb(13, 35, 83);
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  list-style-type: none;
  background-color: red;
}

.row #title {
  flex: 70%;
  display: grid;
  place-items: center;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: aqua;
}

.SidebarList #active{
  background-color: yellow;
}
.Hamburger{
  display: none;
}

@media screen and (max-width : 800px) {
  .Sidebar{
    display: none;
    
  }
  .SidebarActive  {
    height: 100%;
    width: 200px ;
    background-color: rgb(168, 90, 168);
  }
  .Hamburger{
    display: block;
  }

}