:root {
    --text: rgb(231, 148, 148);
    --bg: #fff;
    --headerBg: #1c1c1c;
    --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
  }
  

.proucts{
  padding-left: 5%;
  padding-right: 5%;
}
.app{
  display: flex;
  flex-direction: row;
}