:root {
    --text: rgb(201, 51, 51);
    --bg: #fff;
    --headerBg: #1c1c1c;
    --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
  }
  
.app{
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  padding-right: 1%;
}